.ax_default {
  font-family:'OpenSans', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.box_1 {
}
.box_3 {
}
.ellipse {
}
.button {
}
.image {
}
.heading_1 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-size:32px;
  text-align:left;
}
.heading_2 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-size:24px;
  text-align:left;
}
.heading_3 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-size:18px;
  text-align:left;
}
.heading_4 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-size:14px;
  text-align:left;
}
.heading_5 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  text-align:left;
}
.heading_6 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-size:10px;
  text-align:left;
}
.paragraph {
  text-align:left;
}
.checkbox {
  text-align:left;
}
.radio_button {
  text-align:left;
}
.hbb_-_primary_button {
  font-family:'OpenSans-Semibold', 'Open Sans Semibold', 'Open Sans';
  font-weight:650;
  font-size:16px;
  color:#F4F2F2;
}
.hb_-_dark_background {
}
.hbb_-_h1 {
  font-family:'OpenSans-Bold', 'Open Sans Bold', 'Open Sans';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  text-align:left;
}
.hbb_-_primary_text {
  font-family:'OpenSans', 'Open Sans';
  font-size:16px;
}
.hb_-_h2 {
  font-family:'OpenSans-Light', 'Open Sans Light', 'Open Sans';
  font-weight:200;
  font-style:normal;
  font-size:20px;
}
.fontawesome {
}
